<div class="card">

  <h4 class="mt">Da pagare</h4>
  <div *ngIf="!loading() && pendingDebts.length>0" class="debt-wrapper">
    <div class="debt-row" *ngFor="let d of pendingDebts; let i = index">
      →<div class="name">{{ d.to_name }}</div>
      <input 
        type="number" 
        step="0.01" 
        min="0"
        max="{{d.max_amount}}" 
        name="debt{{i}}"
        value="{{d.amount_eur}}" 
        (keydown)="onKeyDown($event)"
         (keyup)="onKeyUp($event, d)"/>
      <button class="btn" (click)="markDebtAsPaid(d)" [disabled]="loading()" >Paga {{ d.amount_eur | currency:'EUR' }}</button>
    </div>
  </div>

  <p class="muted" *ngIf="!pendingDebts || pendingDebts.length === 0;">Nessun debito da saldare</p>
</div>
  
<div class="card">
  <h4 class="mt">Pagati</h4>
   <div *ngIf="!loading() && paidOut.length>0" class="debt-wrapper">
    <!--div class="debt-row" *ngFor="let d of paidOut; let i = index">
      →<div class="name">{{ d.to_name }}</div>
      <input 
        type="number" 
        step="0.01" 
        min="0"
        max="{{d.max_amount}}" 
        name="debt{{i}}"
        value="{{d.amount_eur}}" 
        (keydown)="onKeyDown($event)"
         (keyup)="onKeyUp($event, d)"/>
      <button class="btn" (click)="markDebtAsPaid(d)" [disabled]="loading()" >Paga {{ d.amount_eur | currency:'EUR' }}</button>
    </div-->
  </div>
  <p class="muted" *ngIf="!paidOut || paidOut.length === 0;">Nessun debito saldato</p>
</div>

<div class="card">
  <h4 class="mt">Da Ricevere</h4>
  <div *ngIf="!loading() && incoming().length > 0" class="debt-wrapper">
    <div *ngFor="let p of incoming()" class="debt-row">
      <div class="name">
        da <b>{{p.from_name}}</b>
      </div>
      <div class="amount">
        importo <b>{{ p.amount | currency: 'EUR' }}</b>
      </div>
    </div>
  </div>
  <p class="muted" *ngIf="incoming().length === 0;">Nessun pagamento da ricevere</p>
</div>

<div class="card">
  <h4 class="mt">Ricevuti</h4>
  <div *ngIf="!received() && received().length > 0" class="debt-wrapper">
    <div *ngFor="let p of received()" class="debt-row">
      <div class="name">
        da <b>{{p.from_user_name}}</b>
      </div>
      <div class="amount">
        importo <b>{{ (p.amount_cents/100) | currency:p.currency || 'EUR' }}</b>
      </div>
      <div class="name">
        <span class="badge">{{ p.status }}</span>
        <!--span class="muted">batch:</span> {{ p.paypal_batch_id || '—' }} -->
      </div>
      <button class="btn"
              *ngIf="p.status !== 'SUCCESS'"
              (click)="confirmReceived(p);">
        Conferma
      </button>
    </div>
  </div>
  <p class="muted" *ngIf="received().length === 0;">Nessun pagamento ricevuto</p>
</div>

<div class="card" *ngIf="msg()">
  {{msg()}}
</div>