.menu-logo {
    height:35px;
}

.material-symbols-outlined {
    margin-right: 5px;
}

.flex {
    flex-direction: row;
    width:fit-content;
}


@media (max-width: 760px) {
    .sub-menu {
        width: 100%;
    }
}