<div class="card">
      <h3>Chi deve a chi</h3>

    <div class="flex">
      <button class="btn ghost" [class.active]="groupBy()==='none'"    (click)="groupBy.set('none')">Nessun raggruppamento</button>
      <button class="btn ghost" [class.active]="groupBy()==='debtor'"  (click)="groupBy.set('debtor')">Per debitore</button>
      <button class="btn ghost" [class.active]="groupBy()==='creditor'" (click)="groupBy.set('creditor')">Per creditore</button>
    </div>

  <!-- Nessun raggruppamento -->
  <div class="card mt" *ngIf="groupBy()==='none'">
    <table>
      <tr *ngFor="let r of rows()">
        <td>
          <strong>{{ r.from }}</strong>
        </td>
        <td>
          → € {{ r.amount | number:'1.2-2' }} → 
        </td> 
        <td>
          <strong>{{ r.to }}</strong>
        </td>    
      </tr>
    </table>

  </div>

  <!-- Raggruppato -->
  <div class="mt" *ngIf="groupBy()!=='none'">
    {{ groupBy()==='debtor' ? 'Debitori' : 'Creditori' }}
    <div class="card mt" *ngFor="let g of groups()">
        <div class="grouped-row" *ngIf="groupBy()==='debtor'">
            <div class="grouped-col">
                <strong>{{ g.name }}</strong>
            </div>
            <div class="grouped-col">               
                <span  *ngFor="let r of g.items">
                    → {{ r.amount | number:'1.2-2' }} € → <strong>{{ r.to }}</strong>
                </span>
            </div>
            <div class="grouped-col">
               <span class="badge total">Totale: € {{ g.total | number:'1.2-2' }}</span>
            </div>
        </div>
      
         <div class="grouped-row" *ngIf="groupBy()==='creditor'">
            <div class="grouped-col">
                <strong>{{ g.name }}</strong>
            </div>          
            <div class="grouped-col">               
                <span  *ngFor="let r of g.items">
                   ← {{ r.amount | number:'1.2-2' }} € ← <strong>{{ r.from }}</strong> 
                </span>
            </div>
            <div class="grouped-col">
               <span class="badge total">Totale: € {{ g.total | number:'1.2-2' }}</span>
            </div>
        </div>

      </div>

    
    
  </div>

</div>
