<div class="card">
  <h2>Bilanci complessivi</h2>

  <div class="form-row cols-3">
    <div>
      <label>Da</label>
      <input class="input" type="date"
             [ngModel]="from()"
             (ngModelChange)="from.set($event)" />
    </div>
    <div>
      <label>A</label>
      <input class="input" type="date"
             [ngModel]="to()"
             (ngModelChange)="to.set($event)" />
    </div>
    <div class="center">
      <label>&nbsp;</label>
      <button class="btn" (click)="refresh()">Aggiorna</button>
    </div>
  </div>

  <h3 class="mt">Netti</h3>
  <div class="pay-table-wrap">
    <table class="pay-table only-mobile">
      <thead>
        <tr>
          <th class="sticky-col"></th>
          <th>Spese pagate</th>
          <th>Spese da pagare</th>
          <th>Versati</th>
          <th>Ricevuti</th>
          <th>Netto</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let r of nets()">
          <td class="sticky-col">{{ r.display_name }}</td>
          <td>{{ r.paid | currency:'EUR' }}</td>
          <td>{{ r.owed  | currency:'EUR' }}</td>
          <td>{{ r.payouts_sent  | currency:'EUR' }}</td>
          <td>{{ r.payouts_recv  | currency:'EUR' }}</td>
          <td [class.positive]="r.net >= 0" [class.negative]="r.net < 0">
            {{ r.net | currency:'EUR' }}
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table mt desktop-tablet">
      <thead>
        <tr>
          <th class="sticky-col"></th>
          <th>Spese pagate</th>
          <th>Spese da pagare</th>
          <th>Versati</th>
          <th>Ricevuti</th>
          <th>Netto</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let r of nets()">
          <td class="sticky-col">{{ r.display_name }}</td>
          <td>{{ r.paid | currency:'EUR' }}</td>
          <td>{{ r.owed  | currency:'EUR' }}</td>
          <td>{{ r.payouts_sent  | currency:'EUR' }}</td>
          <td>{{ r.payouts_recv  | currency:'EUR' }}</td>
          <td [class.positive]="r.net >= 0" [class.negative]="r.net < 0">
            {{ r.net | currency:'EUR' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-settlements-list [settlements]="settlements()" ></app-settlements-list>

  <p *ngIf="msg()" class="mt">{{ msg() }}</p>
  <p *ngIf="loading()" class="mt muted">Caricamento…</p>
</div>
